* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Product';
}

@font-face {
  font-family: 'Product';
  src: url('./assets/Product Sans Regular.ttf');
}

body {
  background-color: white;
  color: black;
  font-family: 'Product';
}

h1 {
  font-family: 'Product';
}

p {
  font-family: 'Product';
}

.nav {
  box-shadow: 1px 2px 5px gray;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  background-color: #ff4646;
  color: white;
}

.greeting {
  font-size: 20px;
}